<header>
  <div class="set-title">
    <a href="/api/v1/blogs"><h1>Blog MeNot404</h1></a>
    <p>A Net MeNot404 Site</p>
  </div>
  <nav class="main-nav">
    <ul>
      <li class="active"><a href="/api/v1/blogs">Home</a></li>
      <li><a href="/api/v1/about">About</a></li>
      <li><a href="/api/v1/blogs/create">New Blog</a></li>
    </ul>
  </nav>

  <!-- =========      Header Mobil Burger Menu      ============ -->
  <div class="mobil" aria-label="Ouvrir le menu">
    <button class="mobile-nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
