<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/universel.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/blogDetail.css" />
    <link rel="stylesheet" href="/css/create.css" />
    <link rel="stylesheet" href="/css/update.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/404.css" />
    <link rel="stylesheet" href="/css/about.css" />

    <title>Blog MeNot404 | <%= title %></title>
    <script src="/index.js" type="module" defer></script>
</head>