<!DOCTYPE html>
<html lang="fr">
    <%- include('./views/partials/head.ejs') %>
    <body>
        <!-- HEADER DYNAMIQUE -->
        <%- include('./views/partials/header.ejs') %>

        <!-- CONTENU PRINCIPAL DYNAMIQUE -->
        <main><%- body %></main>

        <%- include('./views/partials/footer') %>
    </body>
</html>
