@import url("../public/css/universel");
@import url("../public/css/home");
@import url("../public/css/about");
@import url("../public/css/create.css");
@import url("../public/css/update.css");
@import url("../public/css/blogDetail.css");
@import url("../public/css/header");
@import url("../public/css/footer");
@import url("../public/css/404");
@import url("../public/css/responsive");