# Fichiers système
.DS_Store
Thumbs.db

# Dépendances
node_modules/
.pnp
.pnp.js

# Production
dist/
build/
out/

# Variables d'environnement
.env
.env*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Cache
.cache/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
*~

# Tests
coverage/
.nyc_output/

# Divers
.history/
*.bak
*.tmp
*.old