<html lang="en">
<!-- Head-->
<%- include('partials/head') %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>

    <div class="content about">
        <h2>About Us</h2>
        <p>This is a blog site created to share knowledge and ideas on various topics related to web development, programming, and technology. Our mission is to provide valuable content to our readers and foster a community of like-minded individuals.</p>
        <p>Feel free to explore our blogs, contribute your own articles, and connect with other members of our community!</p>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>