<html lang="en">
<!-- Head-->
<%- include('partials/head') %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>

    <div class="content create-blog">
        <h2>Create a New Blog</h2>
<<<<<<< HEAD
        <form action="/api/v1/blogs" method="POST" enctype="multipart/form-data">
=======
        <form action="/api/v1/blogs" method="POST">
>>>>>>> main
            <label for="title">Blog Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="snippet">Blog Snippet:</label>
            <input type="text" id="snippet" name="snippet" required>

            <label for="body">Blog Body:</label>
            <textarea id="body" name="body" required></textarea>

            <label for="photo"> Blog Photo:</label>
            <input type="file" name="media" id="media" accept="image/*, video/*">

            <button type="submit">Create Blog</button>
        </form>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>

</body>
</html>