<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head.ejs') %>
  <body>
    <!-- HEADER DYNAMIQUE -->
    <%- include('partials/header.ejs') %>

    <!-- CONTENU PRINCIPAL DYNAMIQUE -->
    <main><%- body %></main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
