.contents{
        padding: 4rem;
        background-color: rgb(146, 146, 146, .1);
        border: .1rem solid rgb(146, 146, 146, .3);
        border-radius: .5rem;
    }
    .blog-detail {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
    .blog-detail h4{
        color: #777;
        font-size: 1.5rem;
    }

    .blog-detail img{
        width: 70%;
        height: auto; /* keep correct aspect ratio */
        max-height: 400px;
        border-radius: .2rem ;
        overflow: hidden;
    }
.blog-detail video{
        width: 70%;
        max-height: 400px;
        border-radius: .2rem;
        overflow: hidden;
    }