footer{
    width: 100%;
    margin-top: 5rem;
}

.footer {
    width: 100%;
    color: #777;
    text-align: center;
    width: 50%;
}

footer div {
    background-color: rgb(119, 119, 119, .2);
    height: 1px;
    margin: 10px auto;
}