header {
    position: sticky;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    margin-bottom: 5rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    z-index: 1001;
    transition: all .3s ease;
    width: 100%;
}

.set-title a {
    color: blue;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin-left: 20px;
}

nav a {
    position: relative;
}

nav a::before {
    content: "";
    width: 0;
    position: absolute;
    height: 2px;
    transition: all .3s ease;
    top: -4px;
    left: -4px;

}

nav a::after {
    content: "";
    width: 0;
    position: absolute;
    height: 2px;
    transition: all .3s ease;
    bottom: -4px;
    right: -4px;

}

nav a:hover::before,
nav a:hover::after {
    background-color: blue;
    width: 75%;
}


nav h1 {
    font-size: 3em;
}

nav p,
nav a {
    color: #777;
    font-weight: 500;
}

.mobile-nav-toggle {
    display: none;
    background: none;
    border: none;
    width: 30px;
    height: 22px;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.mobile-nav-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    left: 0;
}

.mobile-nav-toggle:nth-child(1) {
    top: 0;
}

.mobile-nav-toggle:nth-child(2) {
    top: 9px;
}

.mobile-nav-toggle:nth-child(3) {
    top: 18px;
}



@media screen and (max-width: 967px) {
        header{
        border: none;
        background: linear-gradient(to top, transparent, #e7e7e7);
    }
    .set-title{
        background-color: #8b8b8b;
        border-radius: .5rem;
        border: .1rem solid #585858;
        padding: 1rem;
    }
    .mobil{
        background-color: #8b8b8b;
        height: 2.5rem;width: 2.5rem;
        border-radius: 50%;
        border: .1rem solid #585858;
    }
    .mobile-nav-toggle{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto;
        gap:5px;
        z-index: 1001;
    }

    .mobile-nav-toggle span{
        display: block;
        background-color: black;
        height: 2px;
        width: 19px;
        border-radius: none;
        transition: all .5s ease;
    }

    /*Style de la navigation(Modale) */
    nav{
        position: fixed;
        background-color: white;
        right: -1000px;
        top: 6rem;
        width: 25%;
        max-width: 25vh;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
        transition: right .5s ease;
        z-index: 1001;
    }
    nav ul {
        padding: 2rem 0;
        position: relative;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 3px;
    }

    nav ul li a{
        color: black;
        font-size: 1rem;
    }

   nav a::before {
        content: "";
        width: 0;
        position: absolute;
        height: 2px;
        transition: all .3s ease;
        top: -4px;left: -4px;
        
    }

    nav a::after {
        content: "";
        width: 0;
        position: absolute;
        height: 2px;
        transition: all .3s ease;
        bottom: -4px;right: -4px;
        
    }

    nav a:hover::before,
    nav a:hover::after
    {
        background-color: blue;
        width: 75%;
        transition: all .3s ease;
    }

    nav ul li{
        width: 100%;
        padding: .5rem;
        text-align: center;
    }

    nav.nav-open{
        right: 1em;
    }

    .mobile-nav-toggle.is-active span:nth-child(1){
        transform: rotate(45deg) translate(4px, 6px);
    }

    .mobile-nav-toggle.is-active span:nth-child(2){
        opacity: 0;
    }


    .mobile-nav-toggle.is-active span:nth-child(3){
        transform: rotate(-45deg) translate(4px, -6px);
    }

}

@media screen and (max-width: 768px){
    /*NAV MOBILE RESP */
    header{
        width: 100%;
    }
    nav{
        width: 100%;
        max-width: 120vh;
        top: -1000px;right: 1rem;left: 1rem;
        transition: top .5s ease;
        z-index: 1001;
    }

    nav.nav-open{
        top: 8rem;
    }
}