@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
    max-width: 1200px;
    margin: 20 auto;
    padding: 0;
    font-family: 'Noto Serif', serif;
    max-width: 1200px;
}

p,
h1,
h2,
h3,
a,
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
}

.content {
    margin-left: 20px;
}