@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

p,
h1,
h2,
h3,
a,
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
}
